<h1>Users#new</h1>
<%= form_for @user do |p| %>
  <%= p.label "User Email" %>
  <%= p.text_field :email %>
  <%= p.label "Password" %>
  <%= p.text_field :password %>
  <%= p.submit "Create" %>
<% end %>
