<!DOCTYPE html>
<html>
<head>
  <title>Basecampclone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body><%= render "layouts/header"%>
  <div class="flash">
    <%= render 'layouts/errors' %>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        
      </div>
      <div class="span6">
      <%= yield %>
      </div>
      
      <div class="span6">
      <%= render "layouts/footer" %>
      </div>
  </div>
</div>

</body>
</html>
